* {
    margin: 0px;
    padding: 0px;
}

.roll {
    cursor: pointer;
    color: aqua;
}

.text:hover {
    color: blue;
}

.text {
    color: red;
    transition: 0.3s;  
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #f77062;
    color: #fff;
    font-size: 120px;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover {
    background-color: blue;
}